$backBigScreen: goldenrod;
$backSmallScreen: lightskyblue;
$textBigScreen: #B22222;
$textSmallScreen: #000080;

@media (min-width: 990px) {
    body {
    background-color: $backBigScreen;
    color: $textBigScreen;
    margin: 0px auto;
    }
    .container {
    background-color: Chocolate;
    min-height: 600px;
    }
    h2::before {
        content: "Welcome to ";
    }
    .list-group-item {
    background-color: $backBigScreen;
    }
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $backBigScreen;
    color: $textBigScreen;
    text-align: center;
    }
    .names {
    color: $textBigScreen;
    position: fixed;
    align-content: flex-end;
    }
    hr {
    border-top: 2px dotted $textBigScreen;
    }
.space {
    min-height: 30px;    
    }
}
@media (max-width: 989px) {
    body {
    background-color: $backSmallScreen;
    color: $textSmallScreen;
    margin: 0px auto;
    }
    .container {
    background-color: steelblue;
    min-height: 600px;
    }
    .list-group-item {
    background-color: $backSmallScreen;
    }
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $backSmallScreen;
    color: $textSmallScreen;
    text-align: center;
    }
    .names {
    color: $textSmallScreen;
    position: fixed;
    align-content: flex-end;
    }
    hr {
    border-top: 2px dotted $textSmallScreen;
    }
.space {
    min-height: 30px;    
    }
}
ul
{
    li {
        backgroud-color: orange;
        text-size: +10%;
        }
    li:hover {
        background-color: silver;
        text-size: +20%;
        }
    a::before, a::after {
          content: "*";
        }
        
}
.dropdown-menu{
    background-color: steelblue;
    
    }

#navi{
    max-height: 150px;
}
#logo{
    max-height: 140px;
}

