body
{
    background-color: goldenrod;
    color: #B22222;
    margin: 0px auto;
}
.container
{
   background-color: Chocolate;
}
#logo
{
    min-width: 95px !important;
    max-width: 200px;
}
ul
{
background-color: #00CEDA;
   
   ul li {
    backgroud-color: inherit;
    text-size: +10%;
   }
   ul li:hover {
       background-color: green;
       text-size: +20%;
      }
}